@import "custom.css";
@import "custom-preflight.css" layer(tailwind-base);

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@layer components {
    .dynamic-bg {
        @apply bg-surface-0 dark:bg-surface-900;
    }
    .dynamic-border {
        @apply border-surface-200 dark:border-surface-800;
    }
}
