html {
    font-size: 14px;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.no-underline {
    text-decoration: none;
}

.svg-fill-dark {
    fill: white;
}

.svg-fill-light {
    fill: black;
}

/* .p-button {
    padding: 0.5rem 1rem;
} */