html {
    /* font size will determine the PrimeVue Components scaling */
    font-size: 14px;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.no-underline {
    text-decoration: none;
}