@layer tailwind-base, tailwind-components, primevue, tailwind-utilities;
@import "tailwindcss/base" layer(tailwind-base);
@import "tailwindcss/components" layer(tailwind-components);
@import "./primevue/tailwind.css" layer(primevue);
@import "tailwindcss/utilities" layer(tailwind-utilities);