/* Define variables for the different theme colors */
:root {
    --surface-svg-bg-color: var(--gray-800);
}
body.dark-theme {
    --surface-svg-bg-color: var(--gray-50);
}

/* Dynamic color fill for svg logo */
.surface-svg-fill {
    fill: var(--surface-svg-bg-color);
}